{% extends "clinic_mgmt/header.html" %}

{% block content %}
<p>
    <h5>Hi, Welcome to your Clinic Management Application.</h5>
</p>
<p>
    Current Functionality enables the following:
    <ol>
        <li>New Visits (including payment reconciliation)</li>
        <li>New Patient Registration</li>
    </ol>
</p>
<p>
    Items still under development:
    <ol>
        <li>Envelope Generation</li>
        <li>Medical Certificate</li>
        <li>Travel Certificate</li>
    </ol>
</p>
{% endblock %}