{% extends "clinic_mgmt/header.html" %}

{% block content %}
<h4>New Visit Entry</h4>
<br>
    <h6> 
            <p class='text-success'>Success! Case # {{ caseid }} found. </p>
    </h6>
    <p> <strong>Name of patient: </strong>{{patient.firstName}} 
        {{patient.middleName}} 
        {{patient.lastName}} </p>


    <form class="site-form" method="POST" action="/visit_log/">
        {% csrf_token %}
        <div class="form-group">
            {{form.as_p}}
        </div>
            <button type="submit" class="btn btn-success mb-2">Submit Visit</button>
    </form>
<br>
{% endblock %}